.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  height: 7vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;

  list-style: none;
}

.li {
  list-style: none;

  margin: 0 1rem;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.user_photo_container {
  width: 2.5rem;
  height: 2.5rem;

  cursor: pointer;
  position: relative;
}

.user_photo {
  width: 100%;
  height: 100%;
  position: absolute;
}

/*  */

.main_flex {
  display: flex;
}

/* CONTAINER 1   */
.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 21vw;
  height: 93vh;
  text-align: center;
  padding: 1.5rem 0.5rem;
  row-gap: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.week_name_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: 0.55rem;
  width: 100%;
  white-space: pre-wrap; /* This allows the text to wrap onto the next line. */
  word-wrap: break-word;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 0 0.2rem white;
}
.week_day_name_initial {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.1rem 0;

  background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.week_day_name {
  font-size: 0.77rem;
  color: var(--text-color-light);
}

/* this highlights the selected week day */
.selected_week_styles {
  background-color: var(--color-1-light);
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.2rem var(--color-1-light);
}

/* FILTER STYLES */
.container_2 {
  width: 100%;
  padding-top: 0.5rem;
  height: 93vh;
  overflow-y: hidden;
}

.meal_types_container {
  width: 79vw;
  display: flex;

  row-gap: 0.7rem;

  /* background-color: pink; */
  column-gap: 0.5rem;
  padding: 1rem;
  overflow: scroll;
  user-select: none;
  cursor: pointer;
}

.meal_types_container::-webkit-scrollbar {
  display: none;
}

.meal_type_style {
  font-size: 0.9rem;
  background-color: beige;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0.05rem rgba(0, 0, 0, 0.078);
}

.selected_meal_type_style {
  background-color: var(--color-1-light);
}

/* ==================== */

.container_2_sub_main_container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  padding-bottom: 5rem;
  overflow-y: scroll;
}

/* HEADINGS  */

.headings {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
  margin: 0.5rem 0;
}

.headings > p {
  font-size: 0.9rem;
  color: var(--text-color-light-black);
}

/* DISH IMAGES */

.dishes_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  column-gap: 1rem;
  row-gap: 1.5rem;
  margin: 1.5rem 0 2rem 0;

  height: 100%;
  width: 100%;

  /* background-color: pink;/ */
}

.single_dish_display_container {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
}

/* highlighs the user voted dish */
.self_voted_dish_highlight_style {
  /* border: 0.1rem solid var(--color-1-light); */
  background-color: var(--color-2-light);
  transition: all 0.1s ease-in-out;
  color: white;
}

/* highlights the dish with max votes */

.max_voted_dish {
  background-color: var(--highest-voted-dish-bg-color);
  color: white;
  transition: all 0.1s ease-in-out;
}

.max_voted_dish_and_self_voted_dish {
  background-color: var(--color-2-light);
  color: white;
  transition: all 0.1s ease-in-out;
}

/* =================================== */

.dish_image_container {
  width: 100%;
  height: 8.5rem;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
}

.banner_container {
  position: absolute;
  top: 0;

  width: 100%;
}

.banner_most_voted_dish,
.banner_your_choice {
  width: 100%;

  font-size: 0.7rem;
  text-align: center;
  padding: 0.15rem;
}
.banner_most_voted_dish {
  background: var(--highest-voted-dish-bg-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.1rem;
}

.banner_your_choice {
  background: var(--color-2-light);
}

.dish_image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
}

/* DISH INFO  */

.dish_info_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.21rem;
  margin: 0.7rem 0;
  text-transform: capitalize;
  padding: 0 0.35rem;
}

.dish_name {
  font-size: 0.95rem;
  font-weight: 600;
}

/* vote styles */
.dish_votes_container {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
  margin-top: 0.3rem;
}
.dish_votes {
  font-size: 0.8rem;
  /* color: var(--text-color-light); */
}

/* ==================== */

.guide_message {
  font-size: 0.8rem;
  color: var(--text-color-light);
  margin: 0.5rem 0;
  text-align: center;
  font-style: italic;
  padding: 0 2rem;
  padding-bottom: 1rem;
}

/* MEDIA QUERIES */

/* @media (min-width: 768px) { */

@media (min-width: 695px) {
  .dish_info_container {
    padding-left: 0.7rem;
  }
  .container_1 {
    max-width: 25vw;
  }
  .meal_types_container {
    width: 75vw;
  }

  .dishes_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .main_flex {
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 7vh;
  }

  .container_1,
  .container_2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .container_1 {
    position: fixed;
    background-color: white;
  }

  .container_2 {
    padding-right: 0;
    margin-right: 0;
    height: 100%;
  }

  .meal_types_container {
    margin-top: 1rem;
    column-gap: 1.5rem;
  }

  .single_dish_display_container:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;
  }

  .meal_type_style {
    font-size: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    overflow: visible;
  }

  .container_1 {
    min-width: 15%;

    box-shadow: none;
    border: 0.1rem solid #e0e0e061;
  }
  .week_name_container {
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1.5rem;
    border-bottom: 0.1rem solid #e0e0e061;
    border-radius: 0;
  }

  .week_day_name {
    font-size: 1rem;
  }
  .container_2 {
    /* margin-left: 19%; */
    padding: 0 2.5rem;
    margin-left: 19%;
  }

  .meal_types_container {
    position: fixed;
    background-color: var(--body-background-color);
    margin-top: 0;
    padding-top: 2rem;
    border: 0.1rem solid #e0e0e061;
    border-left: none;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }

  .container_2_sub_main_container {
    overflow-y: visible;
    padding-top: 7rem;
  }

  .guide_message {
    text-align: left;

    padding-left: 0;
  }

  .dishes_container {
    column-gap: 1.1rem;
  }

  .dish_image_container {
    height: 10rem;

    overflow: hidden;
  }

  .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100vw;
    height: 7vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 1;
    background-color: var(--body-background-color);
    list-style: none;
  }

  .banner_most_voted_dish,
  .banner_your_choice {
    width: 100%;

    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
  }
}

/* 770px */

@media (min-width: 770px) {
  .dishes_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1065px) {
  .dishes_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
