.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;
  height: 4rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 0;

  list-style: none;
}

.li {
  list-style: none;

  margin: 0 1rem;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.user_photo_container {
  width: 2.5rem;
  height: 2.5rem;

  cursor: pointer;
  position: relative;
}

.user_photo {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* switchers */

.switchers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

  /* background-color: greenyellow; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.switch_1,
.switch_2 {
  width: 50%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 1rem;
}
.switch_1 {
  background-color: var(--color-1-button);
}
