.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;

  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.logo {
  width: 100px;
  height: 100px;
  animation: blipping 1s infinite;
  background-color: skin-tone;
}

@keyframes blipping {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
